{% extends '/layout/base.html.twig' %}

{% block title %}Edit Profil{% endblock %}

{% block body %}
    <style>#success_message{ display: none;}</style>
    <h1>Modification du profil </h1>

    <div class="container">

        {{ form_start(editUserType) }}
        {# Champ modification du pseudo #}
        <div class="form-group">
            {{ form_label(editUserType.username) }}
            {{ form_widget(editUserType.username) }}
            {{ form_errors(editUserType.username) }}
        </div>

        {# Champ modification du mail #}
        <div class="form-group">
            {{ form_label(editUserType.mail) }}
            {{ form_widget(editUserType.mail) }}
            {{ form_errors(editUserType.mail) }}
        </div>

        {# Champ modification du nom #}
        <div class="form-group">
            {{ form_label(editUserType.nom) }}
            {{ form_widget(editUserType.nom) }}
            {{ form_errors(editUserType.nom) }}
        </div>

        {# Champ modification du prénom #}
        <div class="form-group">
            {{ form_label(editUserType.prenom) }}
            {{ form_widget(editUserType.prenom) }}
            {{ form_errors(editUserType.prenom) }}
        </div>

        {# Champ modification du telephone #}
        <div class="form-group">
            {{ form_label(editUserType.telephone) }}
            {{ form_widget(editUserType.telephone) }}
            {{ form_errors(editUserType.telephone) }}

                   {# <div class="form-group">
                        {{ form_start(participantPictureFormView) }}
                        {{ form_widget(participantPictureFormView) }}
                        {{ form_end(participantPictureFormView) }}
                    {% for error in field_errors(editUserType.telephone) %}
                    <div class="error">{{ error }}</div>
                    {% endfor %}

                </div>#}
            </div>
        </div>
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Enregister</button>

            {{ form_end(editUserType) }}

    </div>
</div>
{% endblock %}
