{% extends '/layout/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="text-center">Enregistrer un nouvel utilisateur</h1>

        <div class="container-md border border-warning  p-3">

    {{ form_start(registrationForm) }}


            <div class="group p-1">
                <label for="{{ field_name(registrationForm.nom)}}"> Nom : </label>
                <input type="text"
                       id="{{ field_name(registrationForm.nom)}}"
                       name="{{ field_name(registrationForm.nom)}}"
                       value="{{ field_value(registrationForm.nom)}}"
                       placeholder="{{ field_label(registrationForm.nom)}}"
                       class="form-control"
                >
            </div>

            <div class="group p-1">
                <label for="{{ field_name(registrationForm.prenom)}}"> Prenom : </label>
                <input type="text"
                       id="{{ field_name(registrationForm.prenom)}}"
                       name="{{ field_name(registrationForm.prenom)}}"
                       value="{{ field_value(registrationForm.prenom)}}"
                       placeholder="{{ field_label(registrationForm.prenom)}}"
                       class="form-control"
                >
            </div>

            <div class="group p-1">
                <label for="{{ field_name(registrationForm.username)}}"> Pseudo : </label>
                <input type="text"
                       id="{{ field_name(registrationForm.username)}}"
                       name="{{ field_name(registrationForm.username)}}"
                       value="{{ field_value(registrationForm.username)}}"
                       placeholder="{{ field_label(registrationForm.username)}}"
                       class="form-control"
                >
            </div>

            <div class="group p-1">
                <label for="{{ field_name(registrationForm.plainPassword)}}"> Password : </label>
                <input type="text"
                       id="{{ field_name(registrationForm.plainPassword)}}"
                       name="{{ field_name(registrationForm.plainPassword)}}"
                       value="{{ field_value(registrationForm.plainPassword)}}"
                       placeholder="{{ field_label(registrationForm.plainPassword)}}"
                       class="form-control"
                >
            </div>


            <div class="group p-1">
                <label for="{{ field_name(registrationForm.telephone)}}"> Telephone : </label>
                <input type="text"
                       id="{{ field_name(registrationForm.telephone)}}"
                       name="{{ field_name(registrationForm.telephone)}}"
                       value="{{ field_value(registrationForm.telephone)}}"
                       placeholder="{{ field_label(registrationForm.telephone)}}"
                       class="form-control"
                >
            </div>

            <div class="group p-1">
                <label for="{{ field_name(registrationForm.mail)}}"> Mail : </label>
                <input type="text"
                       id="{{ field_name(registrationForm.mail)}}"
                       name="{{ field_name(registrationForm.mail)}}"
                       value="{{ field_value(registrationForm.mail)}}"
                       placeholder="{{ field_label(registrationForm.mail)}}"
                       class="form-control"
                >
            </div>

        <div class="group p-1">
           <p>{{ form_label(registrationForm.administrateur) }}
            {{ form_widget(registrationForm.administrateur) }}</p>


            <p>{{ form_label(registrationForm.actif) }}
            {{ form_widget(registrationForm.actif) }}</p>
        </div>

        <div class="group p-1">
            {{ form_label(registrationForm.site) }}
            <div class="form-control">
            {{ form_widget(registrationForm.site) }}
            </div>
            {{ form_errors(registrationForm.site) }}
        </div>

            <div class="group p-1">
        {{ form_row(registrationForm.agreeTerms) }}
            </div>
        <button class="btn btn-lg btn-primary" type="submit">Enregistrer un nouvel utilisateur</button>
    {{ form_end(registrationForm) }}
</div>
</div>
{% endblock %}
