{% extends '/layout/base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row align-items-start">
            <div class="col">


                {#<h1 class="display-5 fw-bold">{{ infosSortie.nomSortie }}</h1>#}
            </div>

            <div class="col">

                <h1 class="display-5 fw-bold">Afficher la sortie</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">Nom de la sortie : {{ infosSortie.nomSortie }}</p>
                    <p class="lead mb-4">Date et heure de la sortie : {{ infosSortie.dateHeureDebut |date('d/m/Y') }}</p>
                    <p class="lead mb-4">Date limite d'inscription : {{ infosSortie.dateLimiteInscription |date('d/m/Y') }}</p>
                    <p class="lead mb-4">Nombre de place : {{infosSortie.nbInscriptionMax }}</p>
                    <p class="lead mb-4">Duree : {{ infosSortie.duree }}</p>
                    <p class="lead mb-4">Description et infos : {{ infosSortie.infoSortie }}</p>
                    <p class="lead mb-4">Ville Organisatrice : {{ infosSortie.site }}</p>
                    <p class="lead mb-4">Lieu : {{ infosSortie.lieu.nomlieu }}</p>
                    <p class="lead mb-4">Rue :  {{ infosSortie.lieu.rue }}</p>
                    <p class="lead mb-4">Code Postal : {{ infosSortie.lieu.ville.codePostal}}</p>
                    <p class="lead mb-4">Latitude : {{ infosSortie.lieu.latitude }}</p>
                    <p class="lead mb-4">Longitude : {{ infosSortie.lieu.longitude }}</p>
                    <ul>
                        {% for participant in infosSortie.participant  %}
                            <li>{{ participant.username |e }}</li>
                            <li>{{ participant.nom ~ ' ' ~ participant.prenom |e }} </li>
                        {% endfor %}
                    </ul>





                    {# <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-info" href="{{ path('main') }}">Retour</a>
                        <a class="btn btn-info" href="#">Modifier</a>
                    </div>#}

                </div>
            </div>
        </div>

    </div>

    {% endblock %}
