{% extends '/layout/base.html.twig' %}

{% block title %}Modifier une sortie{% endblock %}

{# TODO requête ajax pour afficher le lieu #}

{% block body %}

    <div class="d-flex justify-content-center">
        <h1 class="text-warning"><em>Modifier une sortie</em></h1>
    </div>


    {# Champ modification du nom #}
<div class="container-md border border-warning ">

    <div class="row">
            <div class="col sortieGauche">
                <div class="group p-1">
                    {{ form_label(editSortieType.nomSortie) }} :
                    {{ form_widget(editSortieType.nomSortie) }}
                    {{ form_errors(editSortieType.nomSortie) }}
                </div>

                {# Champ modification de la date début #}
                <div class="group p-1">
                    {{ form_label(editSortieType.dateHeureDebut) }} :
                    {{ form_widget(editSortieType.dateHeureDebut) }}
                    {{ form_errors(editSortieType.dateHeureDebut) }}
                </div>

                {# Champ modification de la date limite #}
                <div class="group p-1">
                    {{ form_label(editSortieType.dateLimiteInscription) }} :
                    {{ form_widget(editSortieType.dateLimiteInscription) }}
                    {{ form_errors(editSortieType.dateLimiteInscription) }}
                </div>

                {# Champ modification de nombre inscription max #}
                <div class="group p-1">
                    {{ form_label(editSortieType.nbInscriptionMax) }} :
                    {{ form_widget(editSortieType.nbInscriptionMax) }}
                    {{ form_errors(editSortieType.nbInscriptionMax) }}
                </div>

                {# Champ modification durée #}
                <div class="group p-1">
                    {{ form_label(editSortieType.duree) }} :
                    {{ form_widget(editSortieType.duree) }}
                    {{ form_errors(editSortieType.duree) }}
                </div>


            </div>
            {# Champ modification du site #}
            <div class="col sortieDroite">
                <div class="group p-1">
                    {{ form_label(editSortieType.site) }} :
                    {{ form_widget(editSortieType.site) }}
                    {{ form_errors(editSortieType.site) }}
                </div>

                {# Champ lieu #}
                <div class="group p-1">
                    {{ form_label(editSortieType.lieu) }} :
                    {{ form_widget(editSortieType.lieu) }}
                    {{ form_errors(editSortieType.lieu) }}
                </div>

                {# Champ modification détail #}
                <div class="group p-1">
                    <label for="{{ field_name(editSortieType.infoSortie)}}">
                        Description et infos : </label>
                    <input type="textarea"
                           id="{{ field_name(editSortieType.infoSortie)}}"
                           name="{{ field_name(editSortieType.infoSortie)}}"
                           value="{{ field_value(editSortieType.infoSortie)}}"
                           class="form-control"
                           style="width: 500px; height: 250px"
                    >
                </div>

        </div>
    </div>

    <div class="row text-center m-5">
        <div class="group">
            <button class="btn  btn-outline-success m-3" type="submit" value="save"  name="save">Enregistrer</button>
            <button class="btn  btn-outline-success m-3" type="submit" value="publish" name="pusblish">Publier la sortie</button>
            <button class="btn  btn-outline-success m-3" type="submit" value="remove" name="remove">Supprimer la sortie</button>
            <input type="button" value="Annuler" class="btn  btn-outline-success m-3" onclick="history.back()" />
        </div>
    </div>
    {{ form_end(editSortieType) }}
{% endblock %}
































